@charset "utf-8";

/*common*/

html{
    font-size: 100%;
}

body{
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", "sans-serif";
  color: #555;
  line-height: 1.5;
}

img {
    width : 100%;
}

.wrapper{
  max-width:940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*header*/
header{
  border-top:8px solid #000000;
}

.header_logo{
  width : 90px;
}

.social{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px auto;
}

.social ul{
  display:flex;
}

.social ul li{
  margin-left:30px;
}

.social ul li a{
  text-decoration: none;
  color:#555;
}

.social ul li a:hover,
.social ul li a:active,
.social ul li.current a{
  color:#8c6239;
}

